body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url('img/bg.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

input, textarea input:active, textarea:active, input:focus, input:invalid {
	outline: none;
    box-shadow:none;
}

.login {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 40px;
	background: rgba(0, 0, 0, .8);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
	border-radius: 10px;
}

.login__title {
	margin: 0 0 30px;
	padding: 0;
	text-align: center;
	font-size: 2em;
	color: #ffffff;
}

.inputBx {
	position: relative;
}

.login__field {
	width: 100%;
	margin-bottom: 30px;
	padding: 10px 0;
	font-size: 16px;
	color: #ffffff;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid #ffffff;
	letter-spacing: 1px;
}

.login__label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #ffffff;
	pointer-events: none;
	transition: .5s;
}

.login__field:focus ~ .login__label,
.login__field:valid ~ .login__label {
	top: -20px;
	left: 0;
	font-size: 12px;
	color: #03a9f4;
}

.login__submit {
	padding: 10px 20px;
	background-color: transparent;
	border: none;
	outline: none;
	color: #ffffff;
	background: #03a9f4;
	cursor: pointer;
	border-radius: 5px;
}

.login__submit:hover {
	-webkit-box-shadow: 0 0 7px #19C5FF;
	box-shadow: 0 0 7px #19C5FF;
}